{{ template "header" . }}library ieee;
use ieee.std_logic_1164.all;
use work.cpu2j0_components_pack.all;
use work.mult_pkg.all;
use work.cpu2j0_pack.all;
package decode_pack is
{{- range allEnums .Package }}
    type {{ .Name }} is {{ vhdlEnumList .Literals }};
{{- end }}
{{- range $ri, $r := .Package.Records }}{{- if lt $ri (lastIdx $.Package.Records) }}
    type {{ $r.Name }} is
        record
{{- range $r.Fields }}
            {{ join .Names ", " }} : {{ .Type }};
{{- end }}
        end record;
{{- end }}{{- end }}
{{- range $ci, $comp := .Package.Components }}
    component {{ $comp.Name }}
        port (
{{- range $i, $p := $comp.Ports }}
            {{ $p.Name }} : {{ $p.Direction }} {{ $p.Type }}{{ if lt $i (lastIdx $comp.Ports) }};{{ end }}
{{- end }}
        );
    end component;
{{- end }}
    function predecode_rom_addr (code : std_logic_vector(15 downto 0)) return std_logic_vector;
    function check_illegal_delay_slot (code : std_logic_vector(15 downto 0)) return std_logic;
    function check_illegal_instruction (code : std_logic_vector(15 downto 0)) return std_logic;
    function privileged (code : std_logic_vector(15 downto 0)) return std_logic;
{{- with (index .Package.Records (lastIdx .Package.Records)) }}
    type {{ .Name }} is
        record
{{- range .Fields }}
            {{ join .Names ", " }} : {{ .Type }};
{{- end }}
        end record;
{{- end }}
    constant DEC_CORE_RESET : decode_core_reg_t := (maskint => '0', delay_slot => '0', id_stall => '0', instr_seq_zero => '0', op => (plane => SYSTEM_INSTR, code => x"0300", addr => x"01"), ilevel => x"0");
    -- Reset vector specific to the microcode ROM. Uses a different starting addr.
    constant DEC_CORE_ROM_RESET : decode_core_reg_t := (maskint => '0', delay_slot => '0', id_stall => '0', instr_seq_zero => '0', op => (plane => SYSTEM_INSTR, code => x"0300", addr => {{ vhdlHexByte (parseHex .Package.DecCoreROMResetAddr) }}), ilevel => x"0");
    type system_instr_t is ({{ join .Package.SystemInstrNames ", " }});
    type system_instr_addr_array is array (system_instr_t range <>) of std_logic_vector(7 downto 0);
    constant system_instr_rom_addrs : system_instr_addr_array := ({{ range $i, $k := .Package.SystemInstrNames }}{{ if $i }}, {{ end }}{{ $k }} => {{ index $.Package.SystemInstrROMAddrs $k }}{{ end }});
    type system_instr_code_array is array (system_instr_t range <>) of std_logic_vector(11 downto 8);
    constant system_instr_codes : system_instr_code_array := (BREAK => x"2", ERROR => x"1", GENERAL_ILLEGAL => x"7", INTERRUPT => x"0", RESET_CPU => x"3", SLOT_ILLEGAL => x"6");
    type system_event_code_array is array (cpu_event_cmd_t range <>) of std_logic_vector(11 downto 8);
    constant system_event_codes : system_event_code_array := (INTERRUPT => x"0", ERROR => x"1", BREAK => x"2", RESET_CPU => x"3");
    type system_event_instr_array is array (cpu_event_cmd_t range <>) of system_instr_t;
    constant system_event_instrs : system_event_instr_array := (INTERRUPT => INTERRUPT, ERROR => ERROR, BREAK => BREAK, RESET_CPU => RESET_CPU);
end;
